In [50]:
import pandas as pd
import re

In [51]:
def convertAndSum(x):
    listOfStrings = x.split('+')
    lst = [int(i) if i != '' else 0 for i in listOfStrings]
    return sum(lst)

def cleanName(x):
    a = re.sub(r'[A-Za-z]\.', '', x)
    return a.lower()

In [52]:
data = pd.read_csv (r'players_21.csv')

In [53]:
data.drop(columns=['id', 'value_eur','nation_jersey_number','contract_valid_until', 'nation_position','loaned_from','joined','team_position','work_rate','work_rate', 'wage_eur', 'international_reputation','player_url', 'age', 'club_name', 'nationality','release_clause_eur','team_jersey_number', 'long_name', 'date_of_birth', 'height_cm', 'weight_kg', 'league_name', 'league_rank', 'body_type', 'real_face'], inplace=True)

In [54]:
data['ldm'] = data['ldm'].apply(lambda x: convertAndSum(x))
data['cdm'] = data['cdm'].apply(lambda x: convertAndSum(x))
data['rdm'] = data['rdm'].apply(lambda x: convertAndSum(x))
data['rwb'] = data['rwb'].apply(lambda x: convertAndSum(x))
data['lb'] = data['lb'].apply(lambda x: convertAndSum(x))
data['lcb'] = data['lcb'].apply(lambda x: convertAndSum(x))
data['cb'] = data['cb'].apply(lambda x: convertAndSum(x))
data['rcb'] = data['rcb'].apply(lambda x: convertAndSum(x))
data['rb'] = data['rb'].apply(lambda x: convertAndSum(x))
data['ls'] = data['ls'].apply(lambda x: convertAndSum(x))
data['st'] = data['st'].apply(lambda x: convertAndSum(x))
data['rs'] = data['rs'].apply(lambda x: convertAndSum(x))
data['lw'] = data['lw'].apply(lambda x: convertAndSum(x))
data['lf'] = data['lf'].apply(lambda x: convertAndSum(x))
data['cf'] = data['cf'].apply(lambda x: convertAndSum(x))
data['rf'] = data['rf'].apply(lambda x: convertAndSum(x))
data['rw'] = data['rw'].apply(lambda x: convertAndSum(x))
data['lam'] = data['lam'].apply(lambda x: convertAndSum(x))
data['cam'] = data['cam'].apply(lambda x: convertAndSum(x))
data['ram'] = data['ram'].apply(lambda x: convertAndSum(x))
data['lm'] = data['lm'].apply(lambda x: convertAndSum(x))
data['lcm'] = data['lcm'].apply(lambda x: convertAndSum(x))
data['cm'] = data['cm'].apply(lambda x: convertAndSum(x))
data['rcm'] = data['rcm'].apply(lambda x: convertAndSum(x))
data['rm'] = data['rm'].apply(lambda x: convertAndSum(x))
data['lwb'] = data['lwb'].apply(lambda x: convertAndSum(x))

In [55]:
data['short_name'] = data['short_name'].apply(lambda x: cleanName(x))

In [56]:
players = pd.read_csv (r'giocabili.csv')

In [57]:
players['short_name'] = players['short_name'].apply(lambda x: cleanName(x))

In [58]:
players

     short_name
0    donnarumma
1        buffon
2     strakosha
3        pandur
4         lopez
..          ...
415        simy
416       gyasi
417  shomurodov
418      lanini
419    frediani

[420 rows x 1 columns]

In [61]:
result = data.join(players, lsuffix='_data', rsuffix='_players')

In [62]:
result.dropna(subset=['short_name_players'])

,short_name_data,overall,potential,player_positions,preferred_foot,weak_foot,skill_moves,player_tags,pace,shooting,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,short_name_players
0,messi,93,93,"RW, ST, CF",Left,4,4,"#Dribbler, #Distance Shooter, #FK Specialist, ...",85.0,92.0,...,68,68,68,69,65,55,55,55,65,donnarumma
1,cristiano ronaldo,92,92,"ST, LW",Right,4,5,"#Aerial Threat, #Dribbler, #Distance Shooter, ...",89.0,93.0,...,64,64,64,68,64,57,57,57,64,buffon
2,oblak,91,93,GK,Right,3,1,NaN,NaN,NaN,...,39,39,39,35,35,36,36,36,35,strakosha
3,lewandowski,91,91,ST,Right,4,4,"#Distance Shooter, #Clinical Finisher",78.0,91.0,...,68,68,68,67,64,63,63,63,64,pandur
4,neymar jr,91,91,"LW, CAM",Right,5,5,"#Speedster, #Dribbler, #Playmaker, #FK Special...",91.0,85.0,...,65,65,65,70,65,52,52,52,65,lopez
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,xhaka,80,81,"CDM, CM",Left,3,3,NaN,52.0,65.0,...,81,81,81,75,74,75,75,75,74,simy
416,campaña,80,81,"CM, LM, CDM",Right,3,4,NaN,63.0,73.0,...,78,78,78,77,75,72,72,72,75,gyasi
417,schulz,80,81,"LB, LM, LWB",Left,2,3,NaN,87.0,51.0,...,77,77,77,80,79,76,76,76,79,shomurodov
418,lecomte,80,81,GK,Left,3,1,NaN,NaN,NaN,...,28,28,28,28,27,27,27,27,27,lanini
419,draxler,80,81,"CAM, CM, LW",Right,5,4,NaN,75.0,76.0,...,71,71,71,72,69,64,64,64,69,frediani

In [33]:
for col in players.columns:
    print(col)

Giocatori